force-app/main/default/flows/Book_Restuarant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>restuarant_booking</name>
        <label>restuarant booking</label>
        <locationX>377</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>reservation_record.Restaurant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Restaurant_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reservation_record.Time_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reservation_record.Number_of_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_People</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reservation_record.Reservation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reservation_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reservation</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Restaurant_List</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <limit>3</limit>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Slot__c</picklistField>
        <picklistObject>Restuarant__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Book Restuarant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Restuarant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>492</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>get_restuarant</targetReference>
        </connector>
        <inputReference>reservation_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_restuarant</name>
        <label>get restuarant</label>
        <locationX>571</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reservation_record.Id</elementReference>
            </value>
        </filters>
        <object>Restuarant__c</object>
        <outputAssignments>
            <assignToReference>confirmation_number</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Reservation</name>
        <label>Reservation</label>
        <locationX>267</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>restuarant_booking</targetReference>
        </connector>
        <fields>
            <name>Number_of_People</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of People</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reservation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Reservation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time_Slot</name>
            <choiceReferences>TimeSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Restaurant_Booking</name>
        <label>Restaurant Booking</label>
        <locationX>157</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reservation</targetReference>
        </connector>
        <fields>
            <name>Restaurant</name>
            <choiceReferences>Restaurant_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Restaurant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;Restaurant Reservation &lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Restaurant_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmation_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reservation_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Restuarant__c</objectType>
    </variables>
</Flow>
