force-app/main/default/flows/Create_Restuarant_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Restuarant Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Restuarant Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Restuarant</name>
        <label>Create Restuarant</label>
        <locationX>164</locationX>
        <locationY>57</locationY>
        <assignRecordIdToReference>newRestuarantId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Restuarant_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Number_of_People__c</field>
            <value>
                <elementReference>NumberofPeople</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservation__c</field>
            <value>
                <elementReference>ReservationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restaurant__c</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Slot__c</field>
            <value>
                <elementReference>Timeslot</elementReference>
            </value>
        </inputAssignments>
        <object>Restuarant__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Restuarant_Id</name>
        <label>Get Restuarant Id</label>
        <locationX>312</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRestuarantId</elementReference>
            </value>
        </filters>
        <object>Restuarant__c</object>
        <outputAssignments>
            <assignToReference>userconfirmation</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Restuarant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newRestuarantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>newRestId</stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberofPeople</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReservationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Restuarant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Restuarant__c</objectType>
    </variables>
    <variables>
        <name>Timeslot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userconfirmation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
