force-app/main/default/flows/Employee_Bank_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>8</locationX>
        <locationY>261</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_account</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkedAccount</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>notFoundAccount</assignToReference>
            <name>404Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>checkedAccount</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_account</name>
        <label>Check account</label>
        <locationX>82</locationX>
        <locationY>388</locationY>
        <actionName>BankService.getAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Does_account_exist</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkedAccount</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorObject</assignToReference>
            <name>404Exc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_account_exist</name>
        <label>Does account exist?</label>
        <locationX>220</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>accountNotAddedMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account does not exist</defaultConnectorLabel>
        <rules>
            <name>Account_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Account</targetReference>
            </connector>
            <label>Account exists</label>
        </rules>
    </decisions>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_user_account</name>
        <label>update user account</label>
        <locationX>368</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Check_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>checkedAccount.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>checkedAccount.z0type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>accountNotAddedMsg</name>
        <label>accountNotAddedMsg</label>
        <locationX>890</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>accountNotAdded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: monospace, monospace; color: rgb(30, 30, 30);&quot;&gt;Account was not added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Bank_Record</name>
        <label>Employee_Bank_Record</label>
        <locationX>177</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Account</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Found_Account</name>
        <label>Found Account</label>
        <locationX>928</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountFoundMsg</name>
            <fieldText>&lt;p&gt;&lt;code&gt;&lt;b&gt;Found account!&lt;/b&gt;&lt;/code&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;Name: {!checkedAccount.name}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;Id: {!checkedAccount.id}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;Type: {!checkedAccount.z0type}&lt;/code&gt;&lt;/p&gt;&lt;p&gt;&lt;code&gt;Available Bal:&lt;/code&gt;{!checkedAccount.availableBal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Employee_Bank_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkedAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorObject</name>
        <apexClass>ExternalService__BankService_errorModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notFoundAccount</name>
        <apexClass>ExternalService__BankService_errorModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uaccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
