force-app/main/default/flows/firstFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_of_Login_History</name>
        <label>Count of Login History</label>
        <locationX>181</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>LoginCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>LoginHistoryCollections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Greet_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_User_Has_Accepted_or_not</name>
        <label>Check if User Has Accepted or not</label>
        <locationX>547</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Greeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Accept</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signature</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_has_accepted_terms</name>
        <label>user has accepted terms</label>
        <locationX>116</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Get_User_Login_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted Terms</defaultConnectorLabel>
        <rules>
            <name>Accpeted_Terms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUserAcceptedTerms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greeting</targetReference>
            </connector>
            <label>Not Accpeted Terms</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserRecordId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>LoginCountText</name>
        <dataType>String</dataType>
        <expression>TEXT( {!LoginCount})</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos;  &apos;  + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>firstFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>login flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>158</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_has_accepted_terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>isUserAcceptedTerms</assignToReference>
            <field>Has_Accepted_Terms__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Login_History</name>
        <label>Get User Login History</label>
        <locationX>78</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Login_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoginType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <object>LoginHistory</object>
        <outputReference>LoginHistoryCollections</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ApiType</queriedFields>
        <queriedFields>ClientVersion</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>842</locationX>
        <locationY>92</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Accepted_Terms__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Greet_User</name>
        <label>Greet User</label>
        <locationX>328</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HelloUser</name>
            <fieldText>&lt;p&gt;Hello {!UserName} ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Login Time is {!$Flow.CurrentDateTime}.&lt;/p&gt;&lt;p&gt;Your Login Count till today is  {!LoginCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Greeting</name>
        <label>Greeting</label>
        <locationX>424</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_User_Has_Accepted_or_not</targetReference>
        </connector>
        <fields>
            <name>AcceptedTerms</name>
            <fieldText>&lt;p&gt;Accept Terms &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Terms</name>
            <dataType>Boolean</dataType>
            <fieldText>Terms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Signature</name>
        <label>Signature</label>
        <locationX>713</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>Signature_Api_Lwc</name>
            <extensionName>c:usersignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isUserAcceptedTerms</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LoginHistoryCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoginHistory</objectType>
    </variables>
    <variables>
        <name>LoginHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoginHistory</objectType>
    </variables>
</Flow>
