force-app/main/default/flows/FlowAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigation</name>
        <label>navigation</label>
        <locationX>249</locationX>
        <locationY>270</locationY>
        <actionName>c:LoanRepaymentsCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>loanerRequest</name>
            <value>
                <elementReference>newLoanRepayment</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>FlowAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowAction</label>
    <loops>
        <name>each_opportunity_product</name>
        <label>each opportunity product</label>
        <locationX>264</locationX>
        <locationY>73</locationY>
        <assignNextValueToReference>OpportuntiyProduct</assignNextValueToReference>
        <collectionReference>OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>each_product_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_loan_repayment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_loan_repayment</name>
        <label>create loan repayment</label>
        <locationX>114</locationX>
        <locationY>190</locationY>
        <assignRecordIdToReference>newLoanRepayment</assignRecordIdToReference>
        <connector>
            <targetReference>navigation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>new Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>LoanRepayments__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Opportunity_Products</name>
        <label>get Opportunity Products</label>
        <locationX>105</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_opportunity_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OpportunityLineItems</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <screens>
        <name>each_product_name</name>
        <label>each product name</label>
        <locationX>474</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>each_opportunity_product</targetReference>
        </connector>
        <fields>
            <name>productn</name>
            <fieldText>{!OpportuntiyProduct.Product2Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>unit_price</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportuntiyProduct.UnitPrice</elementReference>
            </defaultValue>
            <fieldText>unit price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_Opportunity_Products</startElementReference>
    <status>Active</status>
    <variables>
        <name>newLoanRepayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportuntiyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
