force-app/main/default/flows/Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>create_Opportunity</name>
        <label>create Opportunity</label>
        <locationX>326</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>OpportunityObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityObj.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityObj.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2018-12-03</dateValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Sub_Flow</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Main Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>137</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Number_c</name>
            <dataType>Number</dataType>
            <fieldText>Number c</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Input</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Call_Sub_Flow</name>
        <label>Call Sub Flow</label>
        <locationX>505</locationX>
        <locationY>103</locationY>
        <flowName>SubFlow</flowName>
        <inputAssignments>
            <name>Numberc</name>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityObjectr</name>
            <value>
                <elementReference>OpportunityObj</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Total</assignToReference>
            <name>SumofNumbers</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityObj</assignToReference>
            <name>OpportunityObjectr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OpportunityObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
