force-app/main/default/flows/SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_numbers</name>
        <label>add numbers</label>
        <locationX>374</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>SumofNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>call_subflow_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_two_numbers</name>
        <label>assign two numbers</label>
        <locationX>115</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>SumofNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_numbers</targetReference>
        </connector>
    </assignments>
    <description>Addition of two numbers</description>
    <formulas>
        <name>SumofNumber</name>
        <dataType>Number</dataType>
        <expression>{!Numberc}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SubFlow  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow</label>
    <processType>Flow</processType>
    <startElementReference>assign_two_numbers</startElementReference>
    <status>Active</status>
    <subflows>
        <name>call_subflow_2</name>
        <label>call subflow 2</label>
        <locationX>587</locationX>
        <locationY>117</locationY>
        <flowName>Sub_Flow_2</flowName>
        <inputAssignments>
            <name>Total</name>
            <value>
                <elementReference>Numberc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>OpportunityObjectr</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SumofNumbers</assignToReference>
            <name>Total</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityObjectr</assignToReference>
            <name>Opportunity</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Numberc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityObjectr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Sum of Numbers</description>
        <name>SumofNumbers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
